//footer sticks around too long, dont want to see it in info screen... so not used for now

html
    body
        footer
            .container(ng-controller="IndexCtrl")
                .col-md-12.text-center
                    .row
                        .footer-text(ui-sref='information', href) SWITCH TO ADMIN