html
    body
        footer
            .container(ng-controller="IndexCtrl")
                .col-md-12.text-center
                    .row
                        .footer-text(ui-sref='information', href) SWITCH TO ADMIN