html
    head
        title
    body
        footer
            .container(ng-controller="IndexCtrl")

                .col-md-12.text-center
                    .row
                        a Switch to Admin
                        //a.btn.btn-primary.btn-lg(ui-sref='information', href) LET'S BEGIN