div.title Appointment Not Found
.container
    .col-md-12.text-center
        .logo-smaller(style="background-image:url('http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg');")
        br
        br
        h4 OOPS!
        h4 We can't seem to find your appointment
        br
        br
    .col-md-12.text-center
        a.btn.btn-primary-else(type='button', href="", ng-click="someoneElse()") I'm checking in for someone else
    .col-md-12.text-center
        button.btn.btn-danger(ng-click="receptionist()") Talk to receptionist


