div.title Appointment Not Found
.container
    .col-md-12.text-center
        .logo(style="background-image:url({{settings.logo}});")
        br
        br
        p Oops! We can't seem to find your appointment. 
        br
        br
    .col-md-12.text-center
        button.btn.btn-danger(ng-click="receptionist()") Talk to receptionist


