.container
    br
    br
    br
    .col-md-12.text-center
        .col-md-12.text-center
            h4 OOPS!
            h4 We can't seem to find your appointment
        .col-md-12.text-center
            button.btn.btn-primary-somebodyelse(ng-click="someoneElse()") I'm checking in for someone else
        .col-md-12.text-center
            button.btn.btn-danger(ng-click="receptionist()") Talk to receptionist


