.container
    .col-md-12.text-center
        img(src= "http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg" width="200px")
        h4 Joe Ass Hat
        h4 8 - 8:30 PM
        h4 Photo
        h4 911-911-9119
        h4 none@none.com
    .col-md-12.text-center
        a.btn.btn-primary-else(type='button', href="", ng-click="confirm()") Yes, check me in
    .col-md-12.text-center
        button.btn.btn-danger(type='button', href="", ng-click="goBack()") No, that's not me