div.title Thank You
.container
    .col-md-12.text-center
        .logo-smaller(style="background-image:url('http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg');")
        br
        .col-md-12.text-center
            h4 We have contacted your provider.
            h4 They will be with you shortly.
            h4 Have a supa day!
        .row
            a.btn.btn-primary(href="", ui-sref="home") Ok

