div.title Thank You
.container
    .col-md-12.text-center.content
        .logo(style="background-image:url({{settings.logo}});")
        br
        p We have contacted your provider.
        p They will be with you shortly.
        p Have a supa day!
        .row
            a.btn.btn-primary-else(href="", ui-sref="home") Ok

