.container
    .col-md-12.text-center
        .col-md-12.text-center
            h4 Joe Ass Hat
            h4 8 - 8:30 PM
            h4 Photo
            h4 911-911-9119
            h4 none@none.com
        .col-md-12.text-center
            button.btn.btn-primary(ng-click="confirm()") Yes, check me in
        .col-md-12.text-center
            button.btn.btn-danger(ng-click="goBack()") No, that's incorrect

