div.title Appointment Confirmation
.container
    .col-md-12.text-center
        h4 {{visitor._name._first}} {{visitor._name._last}}
        h4 {{appt._start}} - {{appt._end}}
        h4 Photo
        h4 {{visitor._phone._number}}
        h4 {{visitor._email}}
    .col-md-12.text-center
        a.btn.btn-primary-else(type='button', href="", ng-click="confirm()") Yes, check me in
    .col-md-12.text-center
        button.btn.btn-danger(type='button', href="", ng-click="goBack()") No, that's not me