.container
    .col-md-12.text-center
        .col-md-12.text-center
            h4 Thank You
            p We have contacted your provider.
            p They will be with you shortly
            p Have a supa day!
        .col-md-12.text-center
            a.btn.btn-success(href, ui-sref="home") Ok

