.container
    .col-md-12.text-center
        img(src= "http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg" width="200px")
        br
        .col-md-12.text-center
        h4 Thank You
            p We have contacted your provider.
            p They will be with you shortly
            p Have a supa day!
        .row
            a.btn.btn-primary(href="", ui-sref="home") Ok

