.container
    .col-md-12.text-center
        img(src= "http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg")
        .row
            a.btn.btn-primary(type='button', href="", ng-click="begin()") Let's Begin!

