.container
    .col-md-12.text-center.content
        //.logo(style="background-image:url('http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg');")
        h1 #{provider._name}
        p Going to use the name until we get settings > logo working in fourtify-provider
        .row
            a.btn.btn-primary(type='button', href="", ng-click="begin()") Let's Begin!

