.container
    .col-md-12.text-center.content
        .logo(style="background-image:url({{settings.logo}});")
        .row
            a.btn.btn-primary(type='button', href="", ng-click="begin()") Let's Begin!

