//Login screen with footer

html
    body

        .container(ng-controller="IndexCtrl")

            .col-md-12.text-center
                img(src= "http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg")
                .row
                    a.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Let's Begin!
                    //ui-sref='information', href='', type='button', data-toggle='modal', data-target='#myModal'


            // Modal
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                .modal-dialog
                    .modal-content
                        // Modal Header
                        .modal-header
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                                span.sr-only Close
                            h4#myModalLabel.modal-title
                                | Tell us about yourself
                        // Modal Body
                        .modal-body
                            form(role='form')
                                .form-group
                                    label(for='exampleInputEmail1') First Name
                                    input#exampleInputEmail1.form-control(type='email', placeholder='First Name')
                                .form-group
                                    label(for='exampleInputPassword1') Last Name
                                    input#exampleInputPassword1.form-control(type='password', placeholder='Last Name')
                                .checkbox
                                    label
                                        input(type='checkbox')
                                        |  Notify me
                                //button.btn.btn-default(type='submit') Submit
                        // Modal Footer
                        .modal-footer
                            //button.btn.btn-default(type='button', data-dismiss='modal')
                                | Close
                            button.btn.btn-primary(type='button')
                                | Checkin


            // Modal
            //#myModal.modal.fade(role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h4.modal-title Tell us a bit about yourself
                        .modal-body
                            .container(ng-controller="IndexCtrl")

                                .col-md-12.text-center
                                    //img(src= "http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg", width="150")
                                    .col-md-12.text-left.h4
                                        //| First Name
                                        input(type="text", placeholder='First Name').form-control
                                        //| Last Name
                                        br
                                        input(type="text", placeholder='Last Name').form-control
                                        br
                                        .col-md-12.text-center
                                            .row
                                                a.btn.btn-primary.btn-lg(ui-sref='confirmation', href) SUBMIT



                        //.modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close

        footer
            .container(ng-controller="IndexCtrl")
                .col-md-12.text-center
                    .row
                        .footer-text(ui-sref='showAdminLoginDialog', href) SWITCH TO ADMIN





