.container(ng-controller="InformationCtrl")

    .col-md-12.text-left.h3
        | FIRST NAME
        input(type="text").form-control
        | LAST NAME
        input(type="text").form-control

        .col-md-12.text-center
            .row
                a.btn.btn-success.btn-lg(ui-sref='confirmation', href) SUBMIT
