.container
    .col-md-12.text-center
        img(src= "http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg" width="200px")
    .col-md-12.text-left
        form(role='form', name="ctrl.theForms")
            .form-group
                label(for='firstNameForm') First Name
                input#firstNameForm.form-control(required, type='name', placeholder='First Name', ng-model="fname")
            .form-group
                label(for='lastNameForm') Last Name
                input#lastNameForm.form-control(required, type='name', placeholder='Last Name', ng-model="lname")
            .form-group
                label(for='lastNameForm') Phone Number
                input#phoneForm.form-control(required, type='number', placeholder='Phone Number', ng-model="phone")
            .form-group
                label(for='lastNameForm') Email
                input#emailForm.form-control(required, type='name', placeholder='Email', ng-model="email")
            .form-group(ng-if="error")
                .alert.alert-danger {{error}}
            .col-md-12.text-center
                .form-group
                a.btn.btn-primary(type='button', href="", ui-sref="home") Cancel
                a.btn.btn-primary(type='button', href="", ng-click="checkInformation()") Check-in
