html
    body
        .container(ng-controller="IndexCtrl")
            br
            .col-md-12.text-center
                img(src= "http://c2-preview.prosites.com/190230/wy/images/LOGOS/Logo.jpg", width="150")

                .col-md-12.text-left.h4
                    //| First Name
                    input(type="text", placeholder='First Name').form-control
                    //| Last Name
                    br
                    input(type="text", placeholder='Last Name').form-control
                    br
                    .col-md-12.text-center
                        .row
                            a.btn.btn-primary.btn-lg(ui-sref='confirmation', href) SUBMIT
