.container

    .col-md-12.text-center
        h4 Waiver
        p I hereby grant some douchebags permissions to do things do me and to use my likeness in a photograph, video
        | , or other digital media manner, without payment or other considerations
        p Clinic not responsible for injuries and/or deaths caused by malpractice, carelessness, inexperience, etc.
    .col-md-12.text-center
        button.btn.btn-success(ng-click="confirmed()") I HAVE READ AND AGREE TO THESE TERMS

