div.title Please read the following waiver
.container
    .col-md-12.text-center
        h4 Waiver
        form(role='form', name="ctrl.theForms")
            .form-group
                p I, as one of the conditions of being a patient, allow the Super Dentists to document my journey through visual and written media. I also allow the Super Dentists to publish my pictures on to their social media pages without payment or other types of compensation. I understand that the clinic will not be responsible for injuries caused by non-human factors.
    .col-md-12.text-center
        //button.btn.btn-success(type='button', href="", ng-click="confirmed()") I HAVE READ AND AGREE TO THESE TERMS
        a.btn.btn-primary-else(type='button', href="", ng-click="confirmed()") I have read and agreed to the terms
