.btn-primary {
    border:0px;
    border-radius: 2px;
    font-size: 32px;
    background-color: #2196F3;

}

a {
    color: #727272;
    font-size: 20px;
    text-decoration: none;
    font-family: gemFont;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding: 5px;
}

footer {

    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

@font-face {
    font-family: gemFont;
    src: url(/fonts/GemFont.ttf);
}